__pycache__
specqp/gui_test.py
specqp/tmp/
jnotebook/
scripts/
scripts/E_logging.py
scripts/Quick_plot.py
jnotebook/.ipynb_checkpoints
jnotebook/Working1_SCIENTA.ipynb
jnotebook/Working2_SPECS.ipynb
jnotebook/xps-notebook.ipynb
.DS_Store
.gitignore